.student-name {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 1.2em;
  width: 100%;
}

.button-wrapper {
  margin: 1vw;
  width:  15vw;
  height: 15vw;
  min-width: 50px;
  min-height: 50px;
  position: relative;
  text-align: center;
}